<div class="controls-panel" id="controlsPanel">
    <div class="controls-panel__col _search">
        <div class="search-input _closed" id="searchInput">
            <div class="search-input__button"></div>
            <div class="search-input__inner-wrapper">
                <div class="search-input__inner">
                    <div class="search-input__control">
                        <input type="text" placeholder="Search" class="input _search" ng-model="$parent.nameSearchPhrase">
                    </div>
                    <div class="search-input__cross" ng-click="clearInput()"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="controls-panel__col">
        <button class="button _start-design" ng-click="goTo('/design')">
            START DESIGN
            (<span class="button__number"></span>)
        </button>
    </div>
</div>