<header class="header">
    <div class="header__inner">
        <div class="header__item _logo">
            <div class="header__item-logo"></div>
        </div>
        <div class="header__item _title _editable">
            <h1 class="title _h1">
                <div class="title__text">Service Name</div>
                <div class="title__edit-button"></div>
                <div class="title__button">
                    <div class="button _change"></div>
                </div>
            </h1>
        </div>
        <div class="header__item _info">{{info}}</div>
        <div class="header__item _search"></div>
        <div class="header__item _user">{{name}}</div>
    </div>
</header>