<section class="search-section" id="searchSection">
    <div class="tabs-wrapper">
        <div class="tabs__header">
            <div class="tabs__tab _active" ng-click="changeTab($event)">ALL</div>
            <div class="tabs__tab jsTabSelected" ng-click="changeTab($event)">
                SELECTED
                (<span class="tabs__tab__number"></span>)
            </div>
        </div>

        <div class="tabs__body">
            <div class="tab-content">
                <div class="tab-content__body">

                    <div class="tab-content__lines">
                        <div class="tab-category-block animation" ng-repeat="category in data.categories" ng-show="filterForLineGroups(category) && filteredCategoriesData.length">
                            <div class="tab-content__lines-header" >{{category.name}}</div>
                            <div class="tab-content__lines-body">
                                <div class="tab-content__line animation" id="{{line.id}}" ng-repeat="line in category.data | filter:filterForLines as filteredCategoriesData">
                                    <div class="tab-content__col _title">
                                        <div ng-class="line.type=='vRouter' ? 'tab-content__col-img _polygon' : 'tab-content__col-img _layers'"></div>
                                        <div class="tab-content__col-info">
                                            <div class="tab-content__col-title">{{line.name}}</div>
                                            <div class="tab-content__col-subtitle" ng-if="line.multiTenant">Multi-tenant</div>
                                        </div>
                                    </div>
                                    <div class="tab-content__col _table">
                                        <table class="tab-table">
                                            <tr  class="tab-table__tr" ng-if="line.vendor">
                                                <td class="tab-table__td">Vendor</td>
                                                <td class="tab-table__td">{{line.vendor}}</td>
                                            </tr>
                                            <tr class="tab-table__tr" ng-if="line.type">
                                                <td class="tab-table__td">Type</td>
                                                <td class="tab-table__td">{{line.type}}</td>
                                            </tr>
                                            <tr  class="tab-table__tr" ng-if="line.hypervisor">
                                                <td class="tab-table__td">Hypervisor</td>
                                                <td class="tab-table__td">{{line.hypervisor}}</td>
                                            </tr>
                                        </table>
                                        <table class="tab-table">
                                            <tr class="tab-table__tr" ng-repeat="(key, value) in line.requiredResources">
                                                <td class="tab-table__td">{{key}}</td>
                                                <td class="tab-table__td">{{value}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="tab-content__col _controls">
                                        <button type="button" class="button _details">Details</button>
                                        <button type="button" class="button jsSelectableButton" ng-class="{_selected: line.selected, _select: !line.selected }" ng-click="lineClicked($event, line) " emit-last-repeater-element ng-bind="line.selected ? 'selected' : 'select'" ></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <aside class="tab-content__aside">
                        <div class="tab-aside">
                            <div class="tab-aside__block line-type">
                                <div class="tab-aside__title">Type</div>
                                <div class="tab-aside__row">
                                    <div class="tab-aside__col">
                                        <div class="tab-aside__control">
                                            <ang-check-box>
                                                <span class="checkbox__control"></span>
                                                <span class="checkbox__text">vFireWall</span>
                                            </ang-check-box>
                                        </div>
                                        <div class="tab-aside__control">
                                            <ang-check-box>
                                                <span class="checkbox__control"></span>
                                                <span class="checkbox__text">Antivirus</span>
                                            </ang-check-box>
                                        </div>
                                        <div class="tab-aside__control">
                                            <ang-check-box>
                                                <span class="checkbox__control"></span>
                                                <span class="checkbox__text">Mail Server</span>
                                            </ang-check-box>
                                        </div>
                                    </div>
                                    <div class="tab-aside__col">
                                        <div class="tab-aside__control">
                                            <ang-check-box>
                                                <span class="checkbox__control"></span>
                                                <span class="checkbox__text">Web Server</span>
                                            </ang-check-box>
                                        </div>
                                        <div class="tab-aside__control">
                                            <ang-check-box>
                                                <span class="checkbox__control"></span>
                                                <span class="checkbox__text">vCPE</span>
                                            </ang-check-box>
                                        </div>
                                        <div class="tab-aside__control">
                                            <ang-check-box>
                                                <span class="checkbox__control"></span>
                                                <span class="checkbox__text">vRouter</span>
                                            </ang-check-box>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-aside__row-hidden-wrapper">
                                    <div class="tab-aside__row">
                                        <div class="tab-aside__col">
                                            <div class="tab-aside__control">
                                                <ang-check-box>
                                                    <span class="checkbox__control"></span>
                                                    <span class="checkbox__text">Switch</span>
                                                </ang-check-box>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-aside__view-all">
                                    <div class="tab-aside__view-all-text">VIEW ALL</div>
                                </div>
                            </div>

                            <div class="tab-aside__block line-vendor">
                                <div class="tab-aside__title">Vendor</div>
                                <div class="tab-aside__row">
                                    <div class="tab-aside__col">
                                        <div class="tab-aside__control">
                                            <ang-check-box>
                                                <span class="checkbox__control"></span>
                                                <span class="checkbox__text">NEC</span>
                                            </ang-check-box>
                                        </div>
                                        <div class="tab-aside__control">
                                            <ang-check-box>
                                                <span class="checkbox__control"></span>
                                                <span class="checkbox__text">HP</span>
                                            </ang-check-box>
                                        </div>
                                        <div class="tab-aside__control">
                                            <ang-check-box>
                                                <span class="checkbox__control"></span>
                                                <span class="checkbox__text">Netcracker</span>
                                            </ang-check-box>
                                        </div>
                                    </div>
                                    <div class="tab-aside__col">
                                        <div class="tab-aside__control">
                                            <ang-check-box>
                                                <span class="checkbox__control"></span>
                                                <span class="checkbox__text">Cisco</span>
                                            </ang-check-box>
                                        </div>
                                        <div class="tab-aside__control">
                                            <ang-check-box>
                                                <span class="checkbox__control"></span>
                                                <span class="checkbox__text">PaloAlto</span>
                                            </ang-check-box>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-aside__block group-line-status">
                                <div class="tab-aside__title">Status</div>
                                <div class="tab-aside__row">
                                    <div class="tab-aside__col">
                                        <div class="tab-aside__control">
                                            <ang-check-box>
                                                <span class="checkbox__control"></span>
                                                <span class="checkbox__text">Available</span>
                                            </ang-check-box>
                                        </div>
                                        <div class="tab-aside__control">
                                            <ang-check-box>
                                                <span class="checkbox__control"></span>
                                                <span class="checkbox__text">Ready for Test</span>
                                            </ang-check-box>
                                        </div>
                                        <div class="tab-aside__control">
                                            <ang-check-box>
                                                <span class="checkbox__control"></span>
                                                <span class="checkbox__text">Ready for Onboard</span>
                                            </ang-check-box>
                                        </div>
                                        <div class="tab-aside__control">
                                            <ang-check-box>
                                                <span class="checkbox__control"></span>
                                                <span class="checkbox__text">Draft</span>
                                            </ang-check-box>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-aside__block">
                                <div class="tab-aside__title">Hypervisor Type</div>
                                <div class="tab-aside__row">
                                    <div class="tab-aside__col">
                                        <div class="tab-aside__control">
                                            <ang-check-box>
                                                <span class="checkbox__control"></span>
                                                <span class="checkbox__text">Microsoft</span>
                                            </ang-check-box>
                                        </div>
                                        <div class="tab-aside__control">
                                            <ang-check-box>
                                                <span class="checkbox__control"></span>
                                                <span class="checkbox__text">KMV</span>
                                            </ang-check-box>
                                        </div>
                                        <div class="tab-aside__control">
                                            <ang-check-box>
                                                <span class="checkbox__control"></span>
                                                <span class="checkbox__text">Vmware</span>
                                            </ang-check-box>
                                        </div>
                                    </div>
                                    <div class="tab-aside__col">
                                        <div class="tab-aside__control">
                                            <ang-check-box>
                                                <span class="checkbox__control"></span>
                                                <span class="checkbox__text">Kubernetes</span>
                                            </ang-check-box>
                                        </div>
                                        <div class="tab-aside__control">
                                            <ang-check-box>
                                                <span class="checkbox__control"></span>
                                                <span class="checkbox__text">Hyper-V</span>
                                            </ang-check-box>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-aside__block">
                                <div class="tab-aside__panel">
                                    <div class="tab-aside__panel-text">Multi-tenant</div>
                                    <div class="tab-aside__panel-switcher">
                                        <div class="switcher" ng-click="switcher($event)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>

    </div>
</section>