.tab-aside {

    display: flex;
    flex-direction: column;
    min-width: 296px;
    padding: 12px 0 20px;
    margin-top: 32px;
    border-radius: 2px;
    background-color: #e8f0f6;

    &__block {
        &+& {
            margin-top: 20px;
        }
    }

    &__title {
        margin-bottom: 15px;
        padding: 0 4%;
        font-size: 14px;
        line-height: 1.2;
        color: #909aa3;
    }

    &__row {
        display: flex;

        &-hidden-wrapper {
            display: none;
        }

        & + &-hidden-wrapper {
            margin-top: 8px;
        }
    }

    &__col {
        flex-basis: 50%;
        padding: 0 4%;
    }

    &__control {
        &+& {
            margin-top: 8px;
        }
    }

    &__view-all {
        position: relative;
        margin-top: 12px;
        padding: 0 4%;
        text-align: center;
        font-size: 0;
        cursor: pointer;
        user-select: none;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -1px;
            width: 100%;
            height: 2px;
            background-color: #ccd3e2;
        }

        &-text {
            display: inline-block;
            position: relative;
            padding: 0 14px 0 30px;
            font-size: 12px;
            .font-bold;
            color: #4f5ca1;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            background-color: #e8f0f6;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 14%;
                margin-top: -3px;
                width: 8px;
                height: 6px;
                .icon_arrow_blue;
                transition: transform 0.2s;

                .tab-aside__view-all._opened & {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3.7%;
        height: 42px;
        margin: 0 4%;
        border: 1px solid #d5dde2;
        background: #fff;

        &-text {
            font-size: 14px;
            line-height: 1.2;
            color: #183147;
        }
    }

}