.tab-content {

    &+& {

    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 8px;
    }

    &__lines {

        flex-grow: 1;

        &-header {
            margin-bottom: 7px;
            font-size: 19px;
            color: #4c4c4c;
            font-weight: 400;

            .tab-content__lines-body + & {
                margin-top: 30px;
            }
        }

        &-body {
            border-radius: 2px;
            box-shadow: 0 3px 10px rgba(0, 0, 0, .07);
            border: solid 1px rgba(94, 101, 109, .2);
        }

    }

    &__line {
        display: flex;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid #cfd1d3;

        &:last-child {
            border-bottom: none;
        }
    }

    &__col {

        &._title {
            display: flex;
            align-items: center;
            flex-basis: 24%;
            padding-right: 20px;
        }

        &._table {
            display: flex;
            justify-content: space-around;
            flex-basis: 47%;
            padding: 0 20px;
            border-left: 1px solid #e5e5e5;
            border-right: 1px solid #e5e5e5;
        }

        &._controls {
            display: flex;
            flex-basis: 29%;
            padding-left: 20px;
            justify-content: center;
        }

        &-img {

            &._polygon {
                width: 55px;
                height: 49px;
                margin-right: 12px;
                .icon_polygon();
            }

            &._layers {
                width: 55px;
                height: 49px;
                margin-right: 12px;
                .icon_layers();
            }

        }

        &-title {
            font-size: 19px;
            line-height: 1.2;
            color: fade(#000, 80%);
        }

        &-subtitle {
            position: relative;
            padding-left: 20px;
            margin-top: 5px;
            font-size: 14px;
            line-height: 1.2;
            .font-light();
            color: #909aa3;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -9px;
                width: 18px;
                height: 17px;
                .icon_star();
            }
        }

    }

    &__aside {
        flex-basis: 28%;
        margin-left: 2%;
    }

}