.tab-table {

    table-layout: fixed;

    &__td {
        padding: 5px 0;
        white-space: nowrap;

        &:nth-child(odd) {
            padding-right: 15%;
            font-size: 14px;
            line-height: 1.2;
            color: #909aa3;
            .font-light();
        }

        &:nth-child(even) {
            padding-right: 5px;
            font-size: 14px;
            line-height: 1.2;
            color: #465a6c;
        }

        .tab-table__tr:first-child & {
            padding-top: 0;
        }

        .tab-table__tr:last-child & {
            padding-bottom: 0;
        }
    }

}