/*mixins*/

.main-part() {
    height: 30px;
    padding: 0 16px;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 20px;
}

/*******/

.button {

    &._start-design {
        .main-part();
        .font-medium();
        line-height: 30px;
        color: #fff;
        background-color: #1fbf41;
        box-shadow: 0 3px 18px rgba(5, 47, 67, 0.24);
    }

    &._details {
        font-size: 14px;
        .font-bold;
        color: #4f5ca1;
        text-transform: uppercase;
    }

    &._selected {
         .main-part();
         min-width: 110px;
         .font-bold;
         line-height: 30px;
         color: #fff;
         background-color: #4f5ca1;

         .button._details+& {
             margin-left: 10%;
         }
    }

    &._select {
        min-width: 110px;
        .main-part();
        color: #4f5ca1;
        .font-bold;
        line-height: 26px;
        background-color: #fff;
        border: 2px solid #aeb4cd;

        .button._details+& {
            margin-left: 10%;
        }
    }
}