.checkbox {

    display: flex;
    cursor: pointer;
    user-select: none;

    &__control {
        width: 18px;
        min-width: 18px;
        height: 18px;
        border: 1px solid #d5dde2;
        border-radius: 4px;
        background-color: #fff;
        transition: background 0.2s;
        background-position: -100% 100%;

        .checkbox._checked & {
            border-color: #4f5ca1;
            .icon_checkmark;
            background-position: 50%;
            background-color: #4f5ca1;
        }
    }

    &__text {
        margin-left: 9px;
        font-size: 14px;
        color: fade(#183147, 90%);
        line-height: 18px;
    }

}