.controls-panel {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    height: 90px;
    padding: 0 1.66%;
    justify-content: space-between;

    &__col {
        display: flex;
        align-items: center;

        &._search {
            width: 50%;
            margin-left: 18px;
        }
    }
}