.header {

    box-shadow: 0 3px 20px rgba(0,0,0,.25);

    &__inner {
        display: flex;
        height: 56px;
        padding: 0 1.66% 0 0;
    }

    &__item {
        padding: 0 20px;
        line-height: 56px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        &._logo {
            position: relative;
            flex-basis: ~'calc(140px + 1.66%)';
            padding-left: 1.66%;
            
            &:hover {
                background-color: #c5d5de;
                cursor: pointer;
            }
        }

        &._title {
            flex-grow: 1;
        }

        &._info {
            display: flex;
            flex-basis: 80px;
            align-items: center;
            text-align: center;
            font-size: 14px;
            color: #4d779d;

            &:before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 4px;
                .icon_info();
            }

            &:hover {
                background-color: #c5d5de;
                cursor: pointer;
            }
        }

        &._search {
            flex-basis: 60px;
            .icon_loop();
            background-position: 50%;
            cursor: pointer;
        }

        &._user {
            min-width: 154px;
            font-size: 14px;
            color: #202945;
        }

        &+& {
            border-left: 1px solid #c5d5de;
        }

        &-logo {
            position: absolute;
            width: 120px;
            height: 19px;
            top: 50%;
            margin-top: -10px;
            right: 20px;
            .icon_logo();
            background-position: 50%;
        }
    }

}