.input {

    &._search {
        width: 100%;
        height: 40px;
        padding-left: 65px;
        font-size: 19px;
        line-height: 40px;
        color: #4f5ca1;
        border: none;
        background: transparent;

        &::-webkit-input-placeholder {
            color: fade(#4f5ca1, 50%);
        }
        &::-moz-placeholder {
            opacity: 1;
            color: fade(#4f5ca1, 50%);
        }
        &:-ms-input-placeholder {
            color: fade(#4f5ca1, 50%);
        }
    }

}