.page {
    height: 100%;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    &__inner {
        display: flex;
        flex-flow: column nowrap;
        min-height: 100%;
        color: #000000;
    }
}