.search-input {
    display: flex;
    position: relative;
    width: 100%;
    height: 90px;
    align-items: center;

    &__inner {
        display: flex;
        align-items: center;
        height: 42px;
        position: relative;
        border-radius: 21px;
        box-shadow: inset 0 1px 4px rgba(38,40,47,.17);
        border: solid 1px #dbdff0;
        background-color: #fff;
        background-image: linear-gradient(to bottom, rgba(79,92,161,.05), rgba(79,92,161,0));
        transform: translateX(-100%);

        &-wrapper {
            width: 100%;
            overflow: hidden;
        }
    }

    &__control {
        position: relative;
        width: 100%;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 39px;
            margin-top: -9px;
            width: 18px;
            height: 18px;
            .icon_loop_purple();
        }
    }

    &__cross {
        position: absolute;
        right: 7px;
        top: 0;
        width: 30px;
        height: 40px;
        .icon_cross();
        background-position: 50%;
        cursor: pointer;
    }

    &__button {
        position: absolute;
        left: -18px;
        top: 50%;
        margin-top: -25px;
        width: 50px;
        height: 50px;
        .icon_cross_big_white();
        background-position: 50%;
        background-color: #aeacaa;
        box-shadow: 0 0 18px rgba(0,0,0,.2);
        border-radius: 50%;
        cursor: pointer;
        z-index: 10;

        .search-input._opened & {
            .icon_cross_big_white();
            background-position: 50%;
            background-color: #aeacaa;
        }

        .search-input._closed & {
            .icon_loop_white();
            background-position: 50%;
            background-color: #1fbf41;
        }
    }

}