.switcher {
    position: relative;
    width: 30px;
    height: 18px;
    border-radius: 10px;
    background: #d6d6d6;
    user-select: none;
    cursor: pointer;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -7px;
        left: 4px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #fff;
        transition: transform .3s ease;
        transform: translate3d(-2px, 0, 0);
    }

    &._active {
        padding-left: 11px;
        background-color: #4f5ca1;

        &:before {
            transform: translate3d(10px, 0, 0);
        }
    }

}