.tabs {

    &-wrapper {
        padding: 20px 1.66%;
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
    }

    &__tab {
        position: relative;
        margin-right: 20px;
        padding: 0 5px;
        font-size: 15px;
        color: #666;
        .font-medium();
        cursor: pointer;
        
        &._active {
            opacity: 1;
            color: #4f5ca1;

            &:after {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                margin-top: 5px;
                height: 5px;
                width: 100%;
                background-color: #4f5ca1;
            }
        }
    }

    &__body {
        margin-top: 30px;
    }
}