.title {

    display: flex;
    align-items: center;
    .font-regular;

    &._h1 {
        font-size: 21px;
        color: #183147;
    }

    &__edit-button {
        width: 34px;
        height: 30px;
        .icon_edit;
        background-position: 50%;
        cursor: pointer;

        &:hover {
            .icon_edi_active;
            background-position: 50%;
        }
    }

    &__button {
        margin-left: auto;
        margin-right: 20px;
    }

}