// Mixins
.disabled() {
    opacity: 0.5;
    cursor: not-allowed;
}

.page-content() {
    .border-radius(@border-radius);
    border: @border;
    background-color: @white-ff;
    padding: @padding-horizontal-default @padding-vertical-default;
}

.inner() {
    max-width: @page-max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.close-button() {
    .transition(transform 100ms linear);

    &:hover {
        .rotate(90deg);
    }
}

.device-item-subtitle() {
    font: 20px @font-heading;
    color: @blue-00;
    margin-bottom: 15px;
}

.device-item-section(@margin-top: 35px) {

    & + & {
        margin-top: @margin-top;
    }

    &-row {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    &_wide {
        margin-right: -30px;
        margin-left: -30px;
    }
}

.tag-item(@bg, @shadow: none, @tag-border: 1px solid transparent, @color: @white-ff) {
    display: inline-block;
    padding: 5px 9px;
    text-transform: uppercase;
    .border-radius(@border-radius);
    font: 700 11px/14px @font-heading;
    color: @color;
    background-color: @bg;
    cursor: default;
    border: @tag-border;

    .tag-shadow(@shadow) when not (@shadow = none) {
        .box-shadow(@shadow);
    }

    .tag-shadow(@shadow);
}

.product-title() {
    font: 36px/42px @font-heading;
    color: @blue-00;
    min-height: 84px;
}

.product-description() {
    padding: 25px 0 5px;
    min-height: 135px;

    .font-normal(14px, 24px);
    color: @black-33;
}