// Defaults
@padding-vertical-default: 30px;
@padding-horizontal-default: 40px;

// Border
@border: 1px solid @gray-e8;
@border-radius: 4px;

// Dropdown
@dropdown-padding-vertical: @padding-vertical-default;
@dropdown-padding-horizontal: @padding-horizontal-default;

// Form
@form-field-height: 40px;
@form-field-padding: 18px;

// Page
@page-min-width: 320px;
@page-max-width: 1240px;

// Sources
@src-images: "../images";
@src-icons: "@{src-images}/icons";
@src-fonts: "../fonts";

// Transition
@transition-time: 0.2s;
@transition-color: ~"color @{transition-time}";
@transition-color-border: ~"border-color @{transition-time}";
@transition-background-color: ~"background-color @{transition-time}";
@transition-slide: 200ms cubic-bezier(0, 1, 0.5, 1);

// eCare card
@e-care-horizontal-space: 30px;

// Services
@services-padding: @padding-horizontal-default;

// z-index
@zindex-sub-context: -1;
@zindex-default-layer: 1;
@zindex-device-item-base: 10;
@zindex-ui-autocomplete: 100;
@zindex-ui-datepicker: 100;
@zindex-ui-selectmenu: 150;
@zindex-dropdown: 200;
@zindex-header: 200;
@zindex-popup: 1000;